---
---

<style>
a {
    text-decoration: none;
}

footer {
    background-color: #000;
    padding: 20px;
    font-family: 'Hind', sans-serif;
}

.footer-content a {
    color: hsla(0,0%,100%,.7);
}

.footer-content p {
    color: #fff;
    margin: 0 0 10px;
    font-size: 0.9em;
}
</style>

<footer>
    <div class="footer-content">
        <p>Copyright OpenUK 20203. Data is licensed under the <a href='https://cdla.dev/permissive-2-0/' target='_new'>CDLA permissive 2.0</a>. Code is released under <a href='https://www.apache.org/licenses/LICENSE-2.0.html' target='_blank'>Apache 2.0</a> license.
            All text content is <a href='https://creativecommons.org/licenses/by-sa/2.0/'>Creative Commons Attribution-ShareAlike 2.0 Generic (CC BY-SA 2.0.)</a></p>
        <p>OpenUK is a not-for-profit company limited by guarantee registered in England number 11209475, VAT Registration: GB379697512.</p>
    </div>
</footer>