---
import Layout from "layouts/Layout.astro";
import { getBlueprintDataByPath,  getBlueprintDataFromFolder } from "utils/blueprints.ts";



export function getStaticPaths() {
    const blueprints = getBlueprintDataFromFolder();

    const paths = blueprints.map(blueprint => ({
        params: { blueprint: blueprint.path }
    }));
    return paths;
}

const { blueprint } = Astro.params;
const blueprintDetails = getBlueprintDataByPath(blueprint);
---

<Layout>
    <h1>{blueprintDetails.title}</h1>
    <p>{blueprintDetails.description}</p>
    <a href="/" 
    class="inline-block px-6 py-2 mt-4 bg-openuk-blue text-white rounded hover:bg-opacity-80 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-opacity-50 focus:ring-offset-2 focus:ring-openuk-blue"
    role="link"
    aria-label="Return to Home"
>
    &larr; Return to Home
</a>
</Layout>